.page[b-0p7tvsj1tt] {
    position: center;
    display: flex;
    flex-direction: column;
}

.row[b-0p7tvsj1tt] {
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    height: 100vh; /* This assumes you want it centered in the viewport. Adjust as needed. */
}





.form-group[b-0p7tvsj1tt] {
    margin-bottom: 20px;
    width: 200px;
}

.form-group:first-child[b-0p7tvsj1tt] {
    margin-top: 20px;
}

.col-md-4[b-0p7tvsj1tt] {
    margin: 0 auto;
}

.vh-100[b-0p7tvsj1tt] {
    height: 100vh;
}

main[b-0p7tvsj1tt] {
    flex: 1;
}

.sidebar[b-0p7tvsj1tt] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-0p7tvsj1tt] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-0p7tvsj1tt]  a, .top-row .btn-link[b-0p7tvsj1tt] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-0p7tvsj1tt] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0p7tvsj1tt] {
        display: none;
    }

    .top-row.auth[b-0p7tvsj1tt] {
        justify-content: space-between;
    }

    .top-row a[b-0p7tvsj1tt], .top-row .btn-link[b-0p7tvsj1tt] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0p7tvsj1tt] {
        flex-direction: row;
    }

    .sidebar[b-0p7tvsj1tt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0p7tvsj1tt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-0p7tvsj1tt], article[b-0p7tvsj1tt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
